<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Musala_Coding_Task" parallel="false" verbose="2">


    <parameter name="Browser" value="chrome"/>
   <parameter name="URL" value="http://www.musala.com/"/>

    <test name="Test 1">
        <classes>
            <class name="testClasses.TestCase1"/>
        </classes>
    </test>

    <test name="Test 2" >
        <classes>
            <class name="testClasses.TestCase2"/>
        </classes>
    </test>

    <test name="Test 3">
        <classes>
            <class name="testClasses.TestCase3"/>
        </classes>
    </test>

    <test name="Test 4">
        <classes>
            <class name="testClasses.TestCase4"/>
        </classes>
    </test>



</suite>
